html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

p, a {
  line-height: 1.5em;
}

#loading {
  display: none;
}

#settings {
  margin-top: 30px;
  margin-bottom: 30px;
}

h1, a {
  color: #6706ce;
}

label {
  font-weight: 50px;
}

a {
  text-decoration: none;
}

main {
  width: 40em;
  margin: auto;
  text-align: center;
}

.styled-button {
  color: #fff;
  text-align: center;
  background-color: #6706ce;
  border: 1px solid #6706ce;
  border-radius: 4px;
  padding: 13px 20px;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
  margin: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.styled-button-turqouise {
  border: none;
  color: black;
  background-color: #00ffce;
}

.infer-widget {
  width: 480px;
  margin: auto;
}

.links {
  display: flex;
  text-align: center;
}

.links:first-child {
  flex: 0 50%;
}

.links:last-child {
  flex: 1 50%;
}